# Node modules
node_modules

# Build files
/build
/dist

# Environment variables
.env
backend/.env

# IDE files
/.vscode
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Dependency directory
/.pnp
.pnp.js

# Yarn integrity file
.yarn-integrity

# npm debug log
npm-debug.log*

# yarn lockfile
yarn.lock
